@model E_Ticaret.Models.Entities.Siparis

@{
    ViewData["Title"] = "Sipariş Sil";
}


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriNumarasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriNumarasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaturaAdresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaturaAdresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeslimatAdresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeslimatAdresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisTarihi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
