@model IEnumerable<E_Ticaret.Models.Entities.Siparis>

@{
    ViewData["Title"] = "Siparişler";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        <i class="fa-solid fa-plus"></i> Yeni Oluştur
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SiparisNo)</th>
            <th>@Html.DisplayNameFor(model => model.ToplamTutar)</th>
            <th>Müşteri</th> <!-- Burayı değiştirdik -->
            <th>@Html.DisplayNameFor(model => model.SiparisTarihi)</th>
            <th>Sipariş Durumu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SiparisNo)</td>
                <td>@Html.DisplayFor(modelItem => item.ToplamTutar)₺</td>
                <td>
                    @(item.Kullanici != null ? item.Kullanici.Adi + " " + item.Kullanici.Soyadi : "Bilinmiyor")
                </td>
                <td>@Html.DisplayFor(modelItem => item.SiparisTarihi)</td>
                <td>@Html.DisplayFor(modelItem => item.SiparisDurumu)</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>

               
            </tr>
        }
    </tbody>
</table>
