@model E_Ticaret.Models.Entities.Urun

@{
    ViewData["Title"] = "Ürün Detayları";
}


<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            <img src="/Fotolar/@Model.Resim" alt="" height="28" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirimliFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirimliFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AktifMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sırano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sırano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnasayfadaGozuksunMu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnasayfadaGozuksunMu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokAdedi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokAdedi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.MarkaAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
