@model E_Ticaret.Models.Entities.Kampanya

@{
    ViewData["Title"] = "Kampanya Detayları";
}

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KampanyaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KampanyaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            <img src="/Fotolar/@Model.Resim" alt="" height="28" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AktifMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Geri Dön</a>
</div>
